    body{
      font-family: georgia, verdana, helvetica, arial, serif;
    }
    
    h1{
        font-size:14pt;
    }
  
    .inputfield{
      width: 55%;
      height: 50px;
      font-size: 18pt;
      padding: 5px 15px 5px 15px;

    }
    
    .goButton{
        height:35px;
        width: 75px;
        margin-left:15px;
        top:-3px;
        position:relative;
        font-size:14pt;
        font-weight:bold;
    
    }
        
    .text{
      margin-top: 50px;
      font-size: 10pt;
      
      color: grey;
    }
    
    .table{
      border: 1px solid black;
      border-collapse:collapse;
      text-align: center;
    }
    table,th, td
    {
      border: 1px solid black;
    }
    
    td{
      min-width:100px;
    }
    
    .link{
      font-size:18pt;
      color: blue;
      margin-left:25px;
      text-decoration:none;
      font-weight:bold;
    
    }
    
    .lang{
      font-size:10pt;
      color: blue;
      margin-right:5px;
      text-decoration:none;
      float:right;
    }
    
    .bug{
      font-size:10pt;
      color: blue;
      margin-left:5px;
      text-decoration:none;
    }
    
    .bug:visited{
      color: blue;
    }
    
    .loader{
      visibility:hidden;
      z-index:999;
      position:absolute;
      margin-left:-140px;
      margin-top:13px;
    }
  
